@import 'reset';
@import url(https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Catamaran:100,200,300,regular,500,600,700,800,900);

$mulish: 'Mulish';
$catamaran: 'Catamaran';

$media_queries : (
    'mobile': "only screen and (max-width: 767px)",
    'tablet': "screen and (min-width: 768px)",
    'laptop': "screen and (min-width: 992px)",
    'desktop': "screen and (min-width: 1200px)"
);

@mixin for_breakpoint($breakpoints) {
    $conditions : ();
    @each $breakpoint in $breakpoints {
        $conditions: append(
            $conditions,
            #{inspect(map-get($media_queries, $breakpoint))},
            comma
        );
    }
    @media #{$conditions} {
        @content;
    }
}

@mixin columns($n) {
    flex: 0 0 bootstrap($n);
    max-width: bootstrap($n);
    padding: 0 15px;
}

@function bootstrap($n){
    @return $n*100%/12;
}
*{
    box-sizing: border-box;
}
.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    @include for_breakpoint(tablet){
            max-width: 720px;
    }
    @include for_breakpoint(laptop){
            max-width: 960px;
    }
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.x-hidden{
    overflow: hidden;
}

.logo{
    @include columns(4);
}

.nav{
    @include columns(8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__link{
        text-decoration: none;
        color: white;
        font-family: $mulish;
        font-weight: bold;
        padding: 10px 0 0 0;
        border-radius: 5px 5px 0px 0px;
        position: relative;
        &::before, &::after{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgb(255, 105, 15);
            border-radius: 5px 5px 0 0;
			transform-origin: right;
			transition: transform 400ms ease;
			z-index: -1;
			transform: scaleX(0);
		}
        &::before, &::after{
            transform: scaleY(0);
            transform-origin: bottom;

        }
        &:hover::before, &:hover::after{
            transform: scaleY(1);
            transform-origin: bottom;
        }
    }
}

.paralax{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    overflow-y: hidden;
    &__h2{
        font-family: $catamaran;
        position: absolute;
        top: 40px;
        font-size: 20px;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
        color: rgb(102, 172, 206);
    }
    &__big{
        font-size: 125px;
    }
    &__img-bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        object-fit: cover;
        border-radius: 10px;
    }
    &__img-mountains{
        position: absolute;
        bottom: -150px;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        object-fit: contain;
    }
    &__img-heel{
        position: absolute;
        bottom: -250px;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        object-fit: contain;
    }
    &__img-boarder{
        position: absolute;
        bottom: -50px;
        right: 0px;
        width: 50%;
        height: 50%;
        pointer-events: none;
        object-fit: contain;
    }
}

.online-booking{
    @include columns(5);
    position: absolute;
    top: 400px;
    left: 150px;
    &__button{
        width: 200px;
        height: 50px;
        background-color: rgb(255, 105, 15);
        border: none;
        border-radius: 10px;
        cursor: pointer;
        color: white;
        font-size: 20px;
        text-transform: uppercase;
        &:hover{
            background-color: transparent;
            border: 2px solid rgb(255, 105, 15);
        }
    }
    &__text{
        color: white;
        font-family: $mulish;
        line-height: 20px;
        text-align: left;
        margin-bottom: 20px;
    }
}

.title{
    font-family: $catamaran;
    font-weight: 900;
    font-size: 60px;
}
.title__deskription{
    font-family: $mulish;
    font-weight: 300;
}
.offer {
    @include columns(12);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &__title {
        margin: 80px 0 50px 0;      
    }

    &__title-deskription {
        @include columns(10);
        text-align: center;
        margin-bottom: 60px;
    }
}

.text-1{
    font-family: $mulish;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}
.text-2{
    font-family: $catamaran;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
}
.offer-items {
    @include columns(12);
    display: flex;
    margin-bottom: 60px;
    &__item {
        @include columns(4);
        text-align: center;
    }
    &__item-img{
        height: 150px;
    }
    &__item-text1{
        margin: 40px 0 20px 0;
    }
    &__item-button{
        width: 120px;
        height: 45px;
        background-color: rgb(255, 105, 15);
        border: none;
        border-radius: 10px;
        margin-top: 30px;
        cursor: pointer;
        color: white;
        &:hover{
            border: 2px solid rgb(255, 105, 15);
            background-color: transparent;
            color: black;
        }
    }
}

.photo-wrapper{
    padding: 20px;
    margin-bottom: 60px;
}
.photo-item{
    display: flex;
    flex-flow: row wrap;
    display: inline-block;
    flex: 0 0 32%;
    max-width: 32%;
    &__img{
        width: 100%;
    }
}


.teem__title{
    @include columns(12);
    text-align: center;
    margin: 60px 0;
}
.teem-items {
    @include columns(12);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    &__item {
        @include columns(3);
    }
    &__item-img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }
    &__item-text1 {
        margin: 15px 0;
    }
    &__item-text2{
        margin-bottom: 150px;
    }
}

.school-wrapper{
    background: url(./img/block5/bg.png) no-repeat 100% 50%;
    background-size: cover;
    padding: 100px 20px;
}

.school__title{
    @include columns(6);
    margin-bottom: 20px;
}
.school__text-1{
    @include columns(7);
    margin-bottom: 20px;
}

.number-wrap{
    display: flex;
    justify-content: space-between;
    @include columns(8);
}
.item{
    text-align: center;
    &__number{
        color: rgb(255, 105, 15);
        font-family: $catamaran;
        font-size: 35px;
        font-weight: 900;
    }
}

.reviews{
    @include columns(10);
    margin: 0 auto;
    &__title{
        text-align: center;
        text-transform: uppercase;
        margin-top: 150px;
        margin-bottom: 50px;
    }
    &__slider{
        text-align: center;
        margin-bottom: 50px;
    }
    &__slider-item{
    }
    &__slider-img{
        margin: 0 auto;
        margin-bottom: 20px;
    }
    &__slider-text{
        width: 300px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
}

.contact-us{
    font-family: $catamaran;
    &__title{
        margin: 50px 0;
    }
    &__telnum{
        padding-left: 30px;
        margin-bottom: 20px;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            top: -5px;
            left: 0;
            background: url(./img/contact-us/ic-1.svg) no-repeat 100% 100%;
            width: 20px;
            height: 20px;
        }
    }
    &__location{
        padding-left: 30px;
        margin-bottom: 20px;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            top: -5px;
            left: -2px;
            background: url(./img/contact-us/ic-2.svg) no-repeat 100% 100%;
            width: 20px;
            height: 20px;
        }
    }
    &__email{
        padding-left: 30px;
        margin-bottom: 20px;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            top: -5px;
            left: 0;
            background: url(./img/contact-us/ic-3.svg) no-repeat 100% 100%;
            width: 20px;
            height: 20px;
        }
    }
    &__time{
        padding-left: 30px;
        margin-bottom: 50px;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            top: -5px;
            left: 0;
            background: url(./img/contact-us/ic-4.svg) no-repeat 100% 100%;
            width: 20px;
            height: 20px;
        }
    }
    &__link{
        display: flex;
        justify-content: space-between;
        width: 150px;
    }
    &__link-img{
        background-color: rgb(255, 105, 15);
        border-radius: 2px;
        width: 30px;
        height: 30px;
    }
}










