@import 'reset';
@import url(https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Catamaran:100,200,300,regular,500,600,700,800,900);

$mulish: 'Mulish';
$catamaran: 'Catamaran';

$media_queries : (
    'mobile': "only screen and (max-width: 767px)",
    'tablet': "screen and (min-width: 768px)",
    'laptop': "screen and (min-width: 992px)",
    'desktop': "screen and (min-width: 1200px)"
);

@mixin for_breakpoint($breakpoints) {
    $conditions : ();
    @each $breakpoint in $breakpoints {
        $conditions: append(
            $conditions,
            #{inspect(map-get($media_queries, $breakpoint))},
            comma
        );
    }
    @media #{$conditions} {
        @content;
    }
}
@mixin columns($n) {
    flex: 0 0 bootstrap($n);
    max-width: bootstrap($n);
}
@function bootstrap($n){
    @return $n*100%/12;
}
body{
    height: 100%;
    font-family: $mulish;
    font-size: 14px;
    color: #565656;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
._lock{
    overflow: hidden;
}
._container{
    max-width: 1024px;
    padding: 0 15px;
    margin: 0px auto;
    box-sizing: content-box;
}
// ._ibg{
//     position: relative;
// }
// .ibg img{
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     object-fit: cover;
// }
// ________________________________________HEADER________________________________________
.header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    &__container{
    display: flex;
    min-height: 134px;
    align-items: center;
    @include for_breakpoint('mobile'){
        justify-content: space-between;
        align-items: initial;
    }
    }
    &__logo img{
        max-width: 100%;
        @include for_breakpoint('mobile'){
        z-index: 100;
        display: block;
        position: relative;
        top: 10px;
        left: -20px;
        max-width: 100%;
        height: 50px;
        cursor: pointer;
        }
    }
    &__menu{
        @include for_breakpoint('mobile'){
            margin: 0;
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.9);
            transition: left 0.3s ease 0s;
            overflow: auto;
            &._active{
                position: fixed;
                left: 0;
            }
            &::before{
                content: "";
                position: fixed;
                width: 100%;
                top: 0;
                left: 0;
                height: 70px;
                z-index: 100;
            }
        }
        @include for_breakpoint('tablet'){
            margin: 0 0 0 10px;
        }
        @include for_breakpoint('laptop'){
            margin: 0 0 0 100px;
        }
        @include for_breakpoint('desktop'){
            margin: 0 0 0 160px;
        }
    }
}
.menu-icon{
    display: none;
    @include for_breakpoint('mobile'){
        z-index: 100;
        display: block;
        position: relative;
        top: 25px;
        right: 10px;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }
    & span, &::before, &::after{
        position: absolute;
        left: 0;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: rgb(255, 255, 255);
    }
    &::before, &::after{
        content: "";
    }
    &::before{
        top: 0;
    }
    &::after{
        bottom: 0;
    }
    & span{
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
}
.menu-icon span{
        top: 50%;
        transform: scale(1) translate((0px, -50%));
}
.menu-icon._active span{
    transform: scale(0) translate((0px, -50%));
}
.menu-icon._active::before{
    top: 50%;
    transform: rotate(-45deg) translate((0px, -50%));
}
.menu-icon._active::after{
    bottom: 50%;
    transform: rotate(45deg) translate((0px, 50%));
}
.menu{
    padding: 5px 0;
    &__list{
        display: flex;
        flex-wrap: wrap;
        @include for_breakpoint('mobile'){
            flex-direction: column;
            flex-wrap: nowrap;
        }
    }
    &__item{
        padding: 0 10px; 
        &:not(:last-child){
            margin: 0 20px 0 0;
        }
        @include for_breakpoint('mobile'){
            &:first-child{
                padding: 70px 10px 0 10px;
            }
        }
    }
    &__link{
        @include for_breakpoint('mobile'){
            font-size: 30px;
            color: rgb(102, 172, 206);
            line-height: calc(55/30*100%);
        }
        position: relative;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        line-height: calc(35/14*100%);
        padding: 10px 0 0 0;
        &::before, &::after{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgb(255, 105, 15);
            border-radius: 5px 5px 0 0;
			transform-origin: right;
			transition: transform 400ms ease;
			z-index: -1;
			transform: scaleX(0);
		}
        &::before, &::after{
            transform: scaleY(0);
            transform-origin: bottom;
        }
        &:hover::before, &:hover::after{
            transform: scaleY(1);
            transform-origin: bottom;
        }
    }
}
// ________________________________________PAGE______________________________________
.page{
    flex: 1 1 auto;
}
.main-block {
    position: relative;
    &__body {
        padding: 200px 0 50px 0;
        position: relative;
        z-index: 2;
        max-width: 500px;
        text-align:center;
        &>*:not(:last-child){
            margin: 0 0 35px 0;
        }
        @include for_breakpoint('mobile'){
            &>*:not(:last-child){
                margin: 0 0 10px 0;
            }
        }
        @include for_breakpoint('tablet'){
            padding: 300px 0 100px 10px;
            text-align: left;
        }
        @include for_breakpoint('laptop'){
            padding: 350px 0 150px 20px;  
        }
        @include for_breakpoint('desktop'){
            padding: 450px 0 200px 0; 
        }
    }
    &__text {
        font-size: 24px;
        color: #fff;
        line-height: calc(36/24*100%);
        text-align: left;
        @include for_breakpoint('mobile'){
            text-align: center;
            font-size: 15px;
            line-height: calc(20/15*100%);
        }
    }
    &__button {
        background-color: rgb(255, 105, 15);
        border-radius: 10px;
        cursor: pointer;
        color: white;
        padding: 10px 5px;
        font-size: 20px;
        text-transform: uppercase;
        text-decoration: none;
        @include for_breakpoint('mobile'){
            font-size: 10px;
        }
        &:hover{
            background-color: transparent;
            border: 2px solid rgb(255, 105, 15);
        }
    }
    &__paralax {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-y: hidden;
    }
}
// ________________________________________PARALAX-IMG_________________________________
.paralax{
    &__h2{
        font-family: $catamaran;
        position: absolute;
        top: 50px;
        font-size: 20px;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
        color: rgb(102, 172, 206);
        @include for_breakpoint('mobile'){
            margin-top: 30px;
        }
    }
    &__big{
        font-size: 125px;
        @include for_breakpoint('mobile'){
            font-size: 50px;
        }
    }
    &__img-bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        object-fit: cover;
    }
    &__img-mountains{
        position: absolute;
        bottom: -20px;
        left: 0;
        max-width: 100%;
        height: 100%;
        pointer-events: none;
        object-fit: contain;
        object-position: bottom;
        @include for_breakpoint('tablet'){
            object-position: bottom;
        }
        @include for_breakpoint('laptop'){
            object-position: bottom;
        }
        @include for_breakpoint('desktop'){
            object-position: bottom;
        }
    }
    &__img-heel{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        object-fit: contain;
        object-position: bottom;
    }
    &__img-boarder{
        position: absolute;
        bottom: -50px;
        right: 0;
        max-width: 50%;
        pointer-events: none;
        object-fit: contain;
        @include for_breakpoint('mobile'){
            bottom: -20px;
        }
    }
}
// ________________________________________HEADER-BLOCK______________________________
.page__padding{
    padding: 80px 0;
}
.header-block{
    text-align: center;
    &__title{
        font-family: $catamaran;
        font-size: 60px;
        line-height: calc(90/60*100%);
        font-weight: 900;
        color: #333;
        letter-spacing: 1px;
        &:not(:last-child){
            margin: 0 0 10px 0;
        }
        @include for_breakpoint('mobile'){
            font-size: 30px;
        }
    }
    &__sub-title{
        font-size: 18px;
        line-height: calc(32/18*100%);
        font-weight: 300;
        @include for_breakpoint('mobile'){
            font-size: 14px;
            line-height: calc(25/14*100%);
        }
    }
}
// ________________________________________SERVICES_________________________________
.services {
    &__header {
        margin: 0 0 50px 0;
    }
    &__body {
        display: flex;
        margin: 0 -15px;
        @include for_breakpoint('mobile'){
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
     &__column {
        padding: 0 15px;
        flex: 0 1 33.333%;
        @include for_breakpoint('mobile'){
            flex: 0 1 100%;
        }
    }
    &__item {
        height: 100%;
        box-shadow: 0px 13px 19px rgba(0,0,0, 0.07);
        background-color: #fff;
        padding: 35px;
    } 
}
.item-service{
    text-align: center;
    &>*:not(:last-child){
        margin: 0 0 10px 0;
    }
    &__icon img{
        max-width: 100%;
        max-height: 150px;
    }
    &__title{
        line-height: calc(50/14*100%);
        font-weight: 300;
    }
    &__text{
        font-size: 24px;
        color: #333333;
        font-weight: 900;
        font-family: $catamaran;
    }
    &__btn{
        background-color: rgb(255, 105, 15);
        border: 2px solid rgb(255, 105, 15);
        border-radius: 10px;
        padding: 10px;
        cursor: pointer;
        color: white;
        @include for_breakpoint('mobile'){
            padding: 10px 20px;
        }
        &:hover{
            border: 2px solid rgb(255, 105, 15);
            background-color: transparent;
            color: black;
        }
    }

}
// ________________________________________OUR-PHOTOS__________________________________
.our-photos{
    padding: 100px 0 0px 0;
    @include for_breakpoint('mobile'){
        padding: 50px 0 0 0;
    }
}
.our-photos__img img{
    margin: 0 auto;
    max-width: 100%;
}
.slick-next, .slick-prev{
    z-index: 1000;
}
.slick-prev {
    left: 20px !important;
    @include for_breakpoint('mobile'){
        left: 15px !important;
    }
}
.slick-next{
    right: 60px !important;
    @include for_breakpoint('mobile'){
        right: 25px !important;
    }
}
.slick-prev:before, .slick-next:before {
    font-size: 60px  !important;
    color: rgb(255, 0, 0) !important;
    line-height: 0px !important;
    @include for_breakpoint('mobile'){
        font-size: 30px !important;
        line-height: 30px !important;
    }
}
.slick-dots {
    bottom: 30px;
    @include for_breakpoint('mobile'){
        bottom: 10px !important;
    }
}
.slick-dots li.slick-active button:before {
    color: red !important;
    opacity: 0.75;
}
.slick-dots li button:before {
    font-size: 15px !important;
    text-align: center;
    color: #fff;
    opacity: 0.25;
    @include for_breakpoint('mobile'){
        font-size: 10px !important;
    }
}
// ________________________________________TEAM______________________________________
.team {
    @include for_breakpoint('mobile'){
        padding: 10px 0;
    }
    &__header {
        margin: 0 0 50px 0;
    }
    &__body {
        display: flex;
        margin: 0 -15px;
        @include for_breakpoint('mobile'){
            flex-wrap: wrap;
        }
    }
     &__column {
        padding: 0 15px;
        flex: 0 1 25%;
        @include for_breakpoint('mobile'){
            flex: 0 1 100%;
        }
    }
    &__item {
        height: 100%;
        box-shadow: 0px 13px 19px rgba(0,0,0, 0.07);
        background-color: #fff;
        padding: 35px;
    }
}
.item-team{
    text-align: center;
    &>*:not(:last-child){
        margin: 0 0 10px 0;
    }
    &__icon img{
        max-width: 100%;
        border-radius: 50%;
        @include for_breakpoint('mobile'){
            height: 200px;
        }
        @include for_breakpoint('tablet'){
            height: 100px;
        }
    }
    &__title{
        line-height: calc(50/14*100%);
        font-weight: 300;
        text-transform: uppercase;
    }
    &__text{
        font-size: 24px;
        color: #333333;
        font-weight: 900;
        font-family: $catamaran;
    }
}
// ________________________________________SCHOOL______________________________________
.school-block{
    text-align: left;
    &__title{
        font-family: $catamaran;
        font-size: 60px;
        line-height: calc(80/60*100%);
        font-weight: 900;
        color: #333;
        letter-spacing: 1px;
        &:not(:last-child){
            margin: 0 0 10px 0;
        }
        @include for_breakpoint('mobile'){
            font-size: 30px;
            text-align: center;
        }
    }
    &__sub-title{
        width: 700px;
        font-size: 18px;
        line-height: calc(32/18*100%);
        font-weight: 300;
        @include for_breakpoint('mobile'){
            font-size: 14px;
            line-height: calc(25/14*100%);
            font-weight: 500;
            width: 100%;
        }
    }
}
.school{
    padding: 80px 0;
    margin-top: 10px;
    background: url(img/school/bg.png) no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
    z-index: 1;
    @include for_breakpoint('mobile'){
        background-position: right;
    }
    &:after{
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.7);
        width: 100%;
        height: 100%;
        opacity: 0.7;
        z-index: -1;
    }
    &__header {
        margin: 0 0 50px 0;
    }
}
.number-wrap{
    display: flex;
    justify-content: flex-start;
    @include for_breakpoint('mobile'){
        flex-wrap: wrap;
        justify-content: center;
    }
}
.item{
    text-align: center;
    @include for_breakpoint('tablet'){
        &:not(:last-child){
            margin: 0 20px 0 0;
        }
    }
    &__text{
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 900;
    }
    &__number{
        color: rgb(255, 105, 15);
        font-family: $catamaran;
        font-size: 35px;
        font-weight: 900;
    }
}
// ________________________________________REVIEWS_____________________________________
.reviews{
    &__header{
        margin-bottom: 30px;
    }
}
.reviews-item{
    &__img{
        margin: 0 auto;
        display: block;
        margin-bottom: 20px;
    }
    &__name{
        font-family: $catamaran;
        font-size: 18px;
        font-weight: 900;
        text-align: center;
        margin-bottom: 10px;
    }
    &__comment{
        width: 50%;
        margin: 0 auto;
        text-align: center;
    }
}
// ________________________________________FOOTER______________________________________
.footer{
    display: flex;
    justify-content: space-between;
    background-color: #333;
    @include for_breakpoint('mobile'){
        flex-direction: column;
    }
}
.footer-container{
    width: 100%;
    padding: 20px 20px 10px 50px;
    margin: 0px auto;
    @include for_breakpoint('mobile'){
        padding: 20px 15px 10px 15px;
    }
}
.contact{
    font-family: $catamaran;
    color: #fff;
    &__title{
        font-size: 60px;
        letter-spacing: 1px;
        font-weight: 900;
    }
    &__telnum{
        padding-left: 30px;
        margin-bottom: 20px;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background: url(./img/footer/contact/tel.png) no-repeat 100% 100%;
            background-size: cover;
            width: 20px;
            height: 20px;
        }
    }
    &__location{
        padding-left: 30px;
        margin-bottom: 20px;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background: url(./img/footer/contact/geo.png) no-repeat 100% 100%;
            background-size: cover;
            width: 20px;
            height: 20px;
        }
    }
    &__email{
        padding-left: 30px;
        margin-bottom: 20px;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background: url(./img/footer/contact/mail.png) no-repeat 100% 100%;
            background-size: cover;
            width: 20px;
            height: 20px;
        }
    }
    &__time{
        padding-left: 30px;
        margin-bottom: 50px;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background: url(./img/footer/contact/hours.png) no-repeat 100% 100%;
            background-size: cover;
            width: 20px;
            height: 20px;
        }
    }
    &__link{
        display: flex;
        &>*:not(:last-child){
            margin: 0 20px 0 0;
        }
    }
    &__link-img{
        background-color: rgb(255, 105, 15);
        border-radius: 2px;
    }
}
.map{
    width: 100%;
    @include for_breakpoint('mobile'){
        height: 300px;
    }
}