@import url(https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Catamaran:100,200,300,regular,500,600,700,800,900);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.x-hidden {
  overflow: hidden;
}

.logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333%;
  padding: 0 15px;
}

.nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
          flex: 0 0 66.66667%;
  max-width: 66.66667%;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  text-decoration: none;
  color: white;
  font-family: "Mulish";
  font-weight: bold;
  padding: 10px 0 0 0;
  border-radius: 5px 5px 0px 0px;
  position: relative;
}

.nav__link::before, .nav__link::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ff690f;
  border-radius: 5px 5px 0 0;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 400ms ease;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
  z-index: -1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.nav__link::before, .nav__link::after {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.nav__link:hover::before, .nav__link:hover::after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.paralax {
  position: relative;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: contain;
  overflow-y: hidden;
}

.paralax__h2 {
  font-family: "Catamaran";
  position: absolute;
  top: 40px;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  color: #66acce;
}

.paralax__big {
  font-size: 125px;
}

.paralax__img-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.paralax__img-mountains {
  position: absolute;
  bottom: -150px;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  -o-object-fit: contain;
     object-fit: contain;
}

.paralax__img-heel {
  position: absolute;
  bottom: -250px;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  -o-object-fit: contain;
     object-fit: contain;
}

.paralax__img-boarder {
  position: absolute;
  bottom: -50px;
  right: 0px;
  width: 50%;
  height: 50%;
  pointer-events: none;
  -o-object-fit: contain;
     object-fit: contain;
}

.online-booking {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%;
  max-width: 41.66667%;
  padding: 0 15px;
  position: absolute;
  top: 400px;
  left: 150px;
}

.online-booking__button {
  width: 200px;
  height: 50px;
  background-color: #ff690f;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}

.online-booking__button:hover {
  background-color: transparent;
  border: 2px solid #ff690f;
}

.online-booking__text {
  color: white;
  font-family: "Mulish";
  line-height: 20px;
  text-align: left;
  margin-bottom: 20px;
}

.title {
  font-family: "Catamaran";
  font-weight: 900;
  font-size: 60px;
}

.title__deskription {
  font-family: "Mulish";
  font-weight: 300;
}

.offer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer__title {
  margin: 80px 0 50px 0;
}

.offer__title-deskription {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.33333%;
          flex: 0 0 83.33333%;
  max-width: 83.33333%;
  padding: 0 15px;
  text-align: center;
  margin-bottom: 60px;
}

.text-1 {
  font-family: "Mulish";
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}

.text-2 {
  font-family: "Catamaran";
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
}

.offer-items {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}

.offer-items__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333%;
  padding: 0 15px;
  text-align: center;
}

.offer-items__item-img {
  height: 150px;
}

.offer-items__item-text1 {
  margin: 40px 0 20px 0;
}

.offer-items__item-button {
  width: 120px;
  height: 45px;
  background-color: #ff690f;
  border: none;
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
  color: white;
}

.offer-items__item-button:hover {
  border: 2px solid #ff690f;
  background-color: transparent;
  color: black;
}

.photo-wrapper {
  padding: 20px;
  margin-bottom: 60px;
}

.photo-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
  max-width: 32%;
}

.photo-item__img {
  width: 100%;
}

.teem__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
  text-align: center;
  margin: 60px 0;
}

.teem-items {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.teem-items__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  padding: 0 15px;
}

.teem-items__item-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.teem-items__item-text1 {
  margin: 15px 0;
}

.teem-items__item-text2 {
  margin-bottom: 150px;
}

.school-wrapper {
  background: url(./img/block5/bg.png) no-repeat 100% 50%;
  background-size: cover;
  padding: 100px 20px;
}

.school__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
  margin-bottom: 20px;
}

.school__text-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.33333%;
          flex: 0 0 58.33333%;
  max-width: 58.33333%;
  padding: 0 15px;
  margin-bottom: 20px;
}

.number-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
          flex: 0 0 66.66667%;
  max-width: 66.66667%;
  padding: 0 15px;
}

.item {
  text-align: center;
}

.item__number {
  color: #ff690f;
  font-family: "Catamaran";
  font-size: 35px;
  font-weight: 900;
}

.reviews {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.33333%;
          flex: 0 0 83.33333%;
  max-width: 83.33333%;
  padding: 0 15px;
  margin: 0 auto;
}

.reviews__title {
  text-align: center;
  text-transform: uppercase;
  margin-top: 150px;
  margin-bottom: 50px;
}

.reviews__slider {
  text-align: center;
  margin-bottom: 50px;
}

.reviews__slider-img {
  margin: 0 auto;
  margin-bottom: 20px;
}

.reviews__slider-text {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.contact-us {
  font-family: "Catamaran";
}

.contact-us__title {
  margin: 50px 0;
}

.contact-us__telnum {
  padding-left: 30px;
  margin-bottom: 20px;
  position: relative;
}

.contact-us__telnum::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  background: url(./img/contact-us/ic-1.svg) no-repeat 100% 100%;
  width: 20px;
  height: 20px;
}

.contact-us__location {
  padding-left: 30px;
  margin-bottom: 20px;
  position: relative;
}

.contact-us__location::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -2px;
  background: url(./img/contact-us/ic-2.svg) no-repeat 100% 100%;
  width: 20px;
  height: 20px;
}

.contact-us__email {
  padding-left: 30px;
  margin-bottom: 20px;
  position: relative;
}

.contact-us__email::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  background: url(./img/contact-us/ic-3.svg) no-repeat 100% 100%;
  width: 20px;
  height: 20px;
}

.contact-us__time {
  padding-left: 30px;
  margin-bottom: 50px;
  position: relative;
}

.contact-us__time::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  background: url(./img/contact-us/ic-4.svg) no-repeat 100% 100%;
  width: 20px;
  height: 20px;
}

.contact-us__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 150px;
}

.contact-us__link-img {
  background-color: #ff690f;
  border-radius: 2px;
  width: 30px;
  height: 30px;
}
/*# sourceMappingURL=basis.css.map */